@model Pizza
<div class="show-pizza-wrapper">
    <div class="container mt-5 vh-100">
        <div class="d-flex justify-content-end mb-3">
            <a href="@Url.Action("Index", "Pizza")" class="btn btn-danger">Back to all Pizzas</a>
        </div>
        <div class="card p-4">
            <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.PizzaId" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label for="name" class="form-label text-danger">Name:</label>
                    <input asp-for="Name" class="d-block w-100" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label text-danger">Description:</label>
                    <input asp-for="Description" class="d-block w-100" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Photo" class="form-label text-danger">Photo:</label>
                    <input asp-for="Photo" class="d-block w-100" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label text-danger">Price:</label>
                    <input asp-for="Price" class="d-block w-100" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <input type="submit" class="btn btn-secondary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>